<a href="http://www.accuweather.com/en/us/detroit-mi/48226/weather-forecast/348755" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1434205126590" class="aw-widget-current"  data-locationkey="348755" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1434205126590"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>